<h1>Chats</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id remitente</th>
      <th scope="col">Id receptor</th>
    <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @chats.each do |chat| %>
    <tr>
      <td>
      <%= chat.sender_id %>
      </td>
      <td>
      <%= chat.receiver_id %>
      </td>
      <td>
        <%= link_to 'Ver', chat_path(chat) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>