<h1>Usuarios</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Mail</th>
    <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
      <%= user.firstname %>
      </td>
      <td>
      <%= user.lastname %>
      </td>
      <td>
      <%= user.email %>
      </td>
      <td>
        <%= link_to 'Ver', user_path(user) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>