<h1 class="position-absolute top-0 start-50 translate-middle">Detalles del usuario</h1>

<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">
    
    <p>
<strong>Nombre:</strong>
<%= @user.firstname %>
</p>

<p>
<strong>Apellido</strong>
<%= @user.lastname %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
    
    </p>
  </div>
  </div>